.h1 {
	font-size: 32px;
	letter-spacing: -1.5px;
	color: #ecedee;
	font-weight: 700;
	margin-bottom: 12px;
}

.p {
	color: #ecedee;
	font-size: 16px;
	letter-spacing: -0.34px;
	line-height: 24px;
	margin-bottom: 12px;

	strong {
		font-weight: 700;
	}

	em {
		font-style: italic;
	}
}

.h3 {
	font-size: 24px;
	letter-spacing: -1.5px;
	color: #ecedee;
	font-weight: 700;
	margin-bottom: 12px;
}

.blockquote {
	margin-left: 30px;
}

.pre {
	font-family: monospace;
	color: #ecedee;
	padding-bottom: 12px;

	white-space: pre-line;

	display: flex;
}

.image {
	width: auto;
	height: auto;
}

.link {
	text-decoration: underline;
	color: #ecedee;
}

.hr {
	opacity: 0.2;
	margin-top: 20px;
	margin-bottom: 20px;
}
