.container {
	background-color: #1c162f;
	padding: 16px;

	display: flex;
	align-items: center;
	border-radius: 12px;
	border: 1px solid #525252;
	backdrop-filter: blur(12px);
	margin-bottom: 80px;
}

.menuLink {
	color: #ecedee;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: -0.18px;
	margin-right: 24px;
	position: relative;
	transition: color 200ms;
	&:hover {
		color: rgba(255, 255, 255, 0.6);
	}
}

.underline {
	position: absolute;
	bottom: -3px;
	left: 0;
	right: 0;
	height: 1px;
	background: linear-gradient(-90deg, rgba(234, 104, 136, 0.1), rgba(87, 217, 194, 0.8));
}

@media screen and (max-width: 708px) {
	.container {
		margin-bottom: 50px;
	}
}
