.layout {
	background-color: #0a0a0d;
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

.container {
	width: 708px;
	margin-top: 24px;
	padding-left: 16px;
	padding-right: 16px;
}

.gradientBox {
	filter: blur(80px);
	width: 1200px;
	height: 70px;
	position: absolute;
	border-radius: 2px;
	background: linear-gradient(90deg, rgba(58, 141, 180, 1) 0%, rgba(253, 29, 84, 1) 50%, rgba(237, 252, 69, 1) 100%);
}
